{% load staticfiles %}
{#<!doctype html>#}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="django blog">
    <title>八宝粥的博客</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/monokai.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/tip_cards.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery.tip_cards.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
<div id="container">
    <div class="left-col">
        <div class="sidebar">
            <img class="side-img" src="{% static "images/avatar.jpg" %}">
            <h2 class="side-title">八宝粥的博客</h2>
            <h4 class="side-des">这一切都是命运石之门的选择</h4>
            <div style="text-align:right">
                <a class="btn btn-default btn-sm" href="/">主页</a>
                <a class="btn btn-default btn-sm" href="/archives">归档</a>
                <a class="btn btn-default btn-sm" href="/category">专题</a>
                <a class="btn btn-default btn-sm" href="/about">About</a>
            </div>
            <div style="text-align:right">
                <form class="navbar-form navbar-right" action="/search/" method="get">
                    <input class="form-control" type="text" name="s" placeholder="Search">
                </form>
            </div>
        </div>
        <div class="side_bottom">
            <a class="btn btn-default btn-sm" href="{% url 'RSS' %}">RSS</a>
            <a class="btn btn-default btn-sm" href="https://github.com/ybbz" target="_blank">Github</a>
            <a class="btn btn-default btn-sm" href="http://weibo.com/u/1005955131" target="_blank">Weibo</a>
        </div>
    </div>
    <div class="right-col">
        <div>
            {% block content %} {% endblock %}
            <div class="footer" style="font-size:14px;float:left;color:#999;">
                <p>Copyright © 2016 八宝粥的博客</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>